

 <!-- recommendations/templates/recommendations/home.html -->

{% extends 'recommendations/base.html' %}

{% block title %}
Головна
{% endblock %}

{% block content %}
<div class="dropdown">
    <form method="GET" action="{% url 'home' %}">
        <button type="button" class="btn btn-info dropdown-toggle" id="dropdownMenuButton" aria-haspopup="true" data-toggle="dropdown" aria-expanded="false">
            Фільтри
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li style="margin-left: 10px;">Сортувати:</li>
            <li><hr class="dropdown-divider"></li>
            <div class="form-check" style="margin-left: 10px; margin-right: 10px;">
                <input class="form-check-input" type="radio" name="sort" value="default" id="flexRadioDefault1" checked>
                <label class="form-check-label" for="flexRadioDefault1">По замовчуванню</label>
            </div>
            <div class="form-check" style="margin-left: 10px;">
                <input class="form-check-input" type="radio" name="sort" value="az" id="flexRadioDefault2">
                <label class="form-check-label" for="flexRadioDefault2">Від А-Я</label>
            </div>
            <div class="form-check" style="margin-left: 10px;">
                <input class="form-check-input" type="radio" name="sort" value="za" id="flexRadioDefault3">
                <label class="form-check-label" for="flexRadioDefault3">Від Я-А</label>
            </div>
            <button type="submit" class="btn btn-info" style="margin-left: 10px; margin-top: 10px;">Прийняти</button>
        </ul>
    </form>
</div>
<div class="container mt-4 pt-4 my-md-5 pt-md-10 border-top">
    {% if query %}
    <h2>Результати пошуку для "{{ query }}"</h2>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        {% if search_results %}
            {% for movie in search_results %}
                <div class="col-auto d-none d-lg-block">
                    <img src="{{ movie.image.url }}" alt="{{ movie.title }}" class="card-img-top" style="width: 350px; height: 500px;">
                    <div class="py-2" style="font-size: 24px;">
                        <a href="{% url 'movie_detail' movie.id %}" class="text-decoration-none text-dark">{{ movie.title }}</a>
                    </div>
                    <div class="py-2" style="margin-bottom: 10px;">
                        <span class="rating">
                            {% for star in movie.stars %}
                                {% if star %}
                                    <span style="color: gold; font-size: 30px;">★</span>
                                {% else %}
                                    <span style="color: lightgray; font-size: 30px;">☆</span>
                                {% endif %}
                            {% endfor %}
                        </span>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>Нічого не знайдено.</p>
        {% endif %}
    </div>
{% endif %}
    <h2>Рекомендовані фільми</h2>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        {% if recommendations %}
            {% for movie in recommendations %}
            <div class="col-auto d-none d-lg-block">
                <img src="{{ movie.image.url }}" alt="{{ movie.title }}" class="card-img-top" style="width: 350px; height: 500px;">
                <div class="py-2" style="font-size: 24px;">
                    <a href="{% url 'movie_detail' movie.id %}" class="text-decoration-none text-dark">{{ movie.title }}</a>
                </div>
                <div class="py-2" style="margin-bottom: 10px;">
                    <span class="rating">
                        {% for star in movie.stars %}
                            {% if star %}
                                <span style="color: gold; font-size: 30px;">★</span>
                            {% else %}
                                <span style="color: lightgray; font-size: 30px;">☆</span>
                            {% endif %}
                        {% endfor %}
                    </span>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <p>Немає доступних рекомендацій.</p>
        {% endif %}
    </div>
    <div class="container">
        <div class="pt-4 my-md-2 pt-md-10 border-top"></div>
        </div>
    <h2>Всі фільми</h2>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        {% for movie in movies %}
        <div class="col-auto d-none d-lg-block">
            <img src="{{ movie.image.url }}" alt="{{ movie.title }}" class="card-img-top" style="width: 350px; height: 500px;">
            <div class="py-2" style="font-size: 24px;">
                <a href="{% url 'movie_detail' movie.id %}" class="text-decoration-none text-dark">{{ movie.title }}</a>
            </div>
            <div class="py-2" style="margin-bottom: 10px;">
                <span class="rating">
                    {% for star in movie.stars %}
                        {% if star %}
                            <span style="color: gold; font-size: 30px;">★</span>
                        {% else %}
                            <span style="color: lightgray; font-size: 30px;">☆</span>
                        {% endif %}
                    {% endfor %}
                </span>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
