{%extends 'recommendations/base.html'%}

{% block title %}
Реєстарція
{% endblock %}


{% block content %}
<form action="" method="post">
{% csrf_token %}
    <div class="container col-md-4" >
    <h1 class="h3 mb-3 fw-normal">Реєстарція</h1>
    <div class="form-floating ">
      <input type="text" class="form-control" name="username">
      <label for="floatingInput">Ім'я</label>
    </div><br>
         <div class="form-floating ">
      <input type="email" class="form-control" name="email">
      <label for="floatingInput">Пошта</label>
    </div><br>
    <div class="form-floating">
      <input type="password" class="form-control" name="password">
      <label for="floatingPassword">Пароль</label>
    </div><br>
        <div class="form-floating">
      <input type="password" class="form-control" name="password_confirm">
      <label for="floatingPassword">Повторіть пароль</label>
    </div>
    <p></p>
    <button class="btn btn-primary w-100 py-2" type="submit">Зареєструватись</button>
    </div>
  </form>
{% endblock %}